*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 242, 242);
    text-align: center;
}
body{
    background-color: #000000bb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    padding: 2rem;
    width: 25rem; 
    height: 25rem; 
    background-color: #353535;
    border: 2px solid #dd0bcc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.player-options button{
    text-align: center;
    height: 3rem;
    width: 5rem;
    font-weight: bolder;
    background-color: #353535;
    border: 2px solid #dd0bcc;
    transition: 500ms;
    cursor: pointer;
}
.player-options button:hover{
    background-color: #252525;
}
.game-window{
    padding: 1rem 2rem;
    border: 2px solid #dd0bcc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.game-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 6rem;
    height: 6rem;
    border: 1px #dd0bcc solid;
}